/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --dark-grey: #333333;
  --medium-grey: #636363;
  --light-grey: #fdfcf7;
  --ash: #fdfcf7;
  --primary-color: #2c82b5;
  --secondary-color: #ddc899;
  --brown: #482c20;
  --black: #000000;
  --white: white;
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

body {
  font-family: inherit;
  background-color: var(--white);
  color: var(--dark-grey);
  letter-spacing: -0.4px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.subtitle {
  font-size: 16px;
  font-weight: bold;
}

.title {
  font-size: 48px;
  font-weight: bold;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.description {
  font-size: 20;
  font-weight: normal;
}

.btn {
  display: block;
  background-color: var(--secondary-color);
  color: var(--black);
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--brown);
  color: var(--light-grey);
}

.icon {
  padding: 0.5rem;
  background-color: var(--light-grey);
  border-radius: 10px;
}

.logo {
  margin-right: 1.5rem;
}

#nav-menu {
  border-bottom: var(--border);
  background-color: var(--white);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  height: 90px;
  padding: 1.2rem 3rem;
}

.menu {
  position: relative;
  background: var(--white);
}

.menu-bar li:first-child .dropdown {
  flex-direction: initial;
  min-width: 480px;
}

.menu-bar li:first-child ul:nth-child(1) {
  border-right: var(--border);
}

.menu-bar li:nth-child(n + 2) ul:nth-child(1) {
  border-bottom: var(--border);
}

.menu-bar .dropdown-link-title {
  font-weight: 600;
}

.menu-bar .nav-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.6px;
  padding: 0.3rem;
  min-width: 60px;
  margin: 0 0.6rem;
  color: var(--black);
  background-color: transparent;
  transition: 0.5s;
}

.menu-bar .nav-link:hover,
.dropdown-link:hover {
  color: var(--primary-color);
}

.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
  display: flex;
  align-items: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  background-color: var(--white);
  border-radius: 10px;
  position: absolute;
  top: 36px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.1s ease-in-out;
  box-shadow: var(--shadow);
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
  font-size: 0.95rem;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.15rem;
}

.dropdown-link {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}

.dropdown-link p {
  font-size: 0.8rem;
  color: var(--medium-grey);
}

.right-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.right-container .search {
  position: relative;
}

.right-container img {
  border-radius: 50%;
}

.search {
  border: 1px solid var(--black);
  border-radius: 6px;
}

.search input {
  background-color: var(--ash);
  border: none;
  border-radius: 6px;
  padding: 0.7rem;
  padding-left: 2.4rem;
  font-size: 16px;
  width: 100%;
  border: var(--black);
}

.search .bx-search {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 1.3rem;
  transform: translateY(-50%);
  opacity: 0.6;
}

#hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
}

/*HOME*/
.main-content {
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 1300px;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  height: 90vh;
}

.image-container img {
  height: 500px;
  padding-left: 6rem;
}

.home-btn {
  display: block;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 2rem;
}

.home-btn:hover {
  background-color: var(--secondary-color);
  color: var(--black);
}

/* DESTAQUE */
.main-news {
  height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container-main {
  position: relative;
  display: inline-block;
  margin-top: 2rem;
}
.image-container-main img {
  height: 650px;
  display: block;
  border-radius: 16px;
}

.card-container {
  position: absolute;
  background-color: var(--white);
  padding: 30px;
  left: 25%;
  bottom: 20px;
  width: 70%;
  border-radius: 16px;
  text-align: left;
}

.badge {
  display: flex;
}

.type {
  font-size: 12px;
  padding-right: 1rem;
}

.card-title-container {
  padding-top: 0.5rem;
}

.card-title {
  font-size: 22px;
}

.date {
  font-size: 12px;
}

.description-container {
  padding-top: 0.5rem;
}

.main-description {
  text-align: justify;
  font-size: 12px;
}

.button-container {
  padding-top: 1rem;
}

#new-button {
  padding: 0.5rem;
  padding-inline: 1rem;
  border-radius: 8px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: 0.5s;
}

#new-button:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

/* NOTÍCIAS RECENTES */
.recent-news {
  height: 100vh;
  padding: 5rem;
  margin: 0 auto;
  max-width: 1100px;
}

.recent-news-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent-title {
  font-size: 36px;
  font-weight: bold;
  text-align: left;
}

#recent-new-button {
  padding: 0.5rem;
  padding-inline: 1rem;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: 0.5s;
  margin-top: auto;
}

#recent-new-button:hover {
  background-color: var(--white);
  color: var(--primary-color);
}

.horizontal-new{
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.horizontal-image img{
  height: 350px;
  padding-right: 3rem;
}

.new-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-row{
 min-width: 900px;
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 40px;
}

.small-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 550px; /* defina o valor que desejar */
  overflow: hidden;
  padding: 1rem;
  border-radius: 8px;
}


.small-card img{
  height: 250px;
  width: 100%;
  object-fit:cover;
  margin-bottom: -2rem;
  border-radius: 8px;
}

.new-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.badge-recent {
  display: flex;
  font-size: 12px;
  padding-top: 1rem;
}

.type-recent {
  font-size: 12px;
  padding-right: 1rem;
}

.card-title-container-recent {
  padding-top: 0.5rem;
}

.card-title-recent {
  font-size: 16px;
  padding-bottom: .5rem;
  text-transform: uppercase;
}

.date-recent {
  font-size: 12px;
}

.description-container-recent {
  flex-grow: 1;
  overflow: hidden;
}

.main-description-recent {
  font-size: 12px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}


.button-container {
  padding-top: auto;
}


/* MAIS VISTOS */
.more-view {
  height: 100vh;
  padding: 5rem;
  margin: 0 auto;
  max-width: 1100px;
  padding-top: 30rem;
}


/* RODAPÉ */

.footer-container{
  padding-top: 70rem;
}

.footer{
  height: 50vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-logo img{
  height: 100px;
  padding-top: 1rem;
}

.footer-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding-top: 1rem;
}

.footer-link{
  color: var(--white);
  transition: .5s;
}

.footer-link:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.footer-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 10px;
  border-radius: 40px;
  transition: .5s;
  cursor: pointer;
}

.footer-button:hover{
  transform: scale(1.1);
}

.footer-button img{
  height: 30px;
}

.footer-line-container{
  border: 1px solid var(--white);
}

.footer-line{
  padding-inline: 30vw;
}

.footer-copyright{
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--white);
  font-size: 12px;
}

@media (max-width: 1100px) {
  .home {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 80vh;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .image-container img {
    display: block;
    height: 400px;
    padding-top: 2rem;
    padding-left: 0;
  }

  .home-btn {
    display: block;
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 2rem;
  }

  .home-btn:hover {
    background-color: var(--secondary-color);
    color: var(--black);
  }
}

@media (max-width: 1350px) {
  #hamburger {
    display: block;
  }

  .container {
    padding: 1.2rem;
  }

  .menu {
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    min-height: 100vh;
    width: 100vw;
  }

  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 5px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
  }

  .menu.show,
  .dropdown.active {
    display: block;
  }

  .dropdown ul {
    padding-left: 0.3rem;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    padding: 1rem;
  }

  .menu-bar .nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }

  .menu-bar li:first-child .dropdown {
    min-width: 100%;
  }

  .menu-bar > li:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: var(--border);
  }
}

@media (max-width: 580px) {
  .image-container img {
    display: block;
    height: 300px;
    padding-top: 2rem;
    padding-left: 0;
  }
}

@media (max-width: 645px) {
  .right-container {
    display: none;
  }
}
