/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark-grey: #333333;
  --medium-grey: #636363;
  --medium-light-grey: #939393;
  --light-grey: #fdfcf7;
  --ash: #fdfcf7;
  --primary-color: #2c82b5;
  --secondary-color: #ddc899;
  --brown: #482c20;
  --black: #000000;
  --white: white;
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

body {
  font-family: inherit;
  background-color: var(--white);
  color: var(--dark-grey);
  letter-spacing: -0.4px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.subtitle {
  font-size: 16px;
  font-weight: bold;
}

.title {
  font-size: 48px;
  font-weight: bold;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.description {
  font-size: 20px;
  font-weight: normal;
}

.btn {
  display: block;
  background-color: var(--secondary-color);
  color: var(--black);
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.5s;
}

.btn:hover {
  background-color: var(--brown);
  color: var(--light-grey);
}

.icon {
  padding: 0.5rem;
  background-color: var(--light-grey);
  border-radius: 10px;
}

.logo {
  margin-right: 1.5rem;
}

#nav-menu {
  border-bottom: var(--border);
  background-color: var(--white);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  height: 90px;
  padding: 1.2rem 3rem;
}

.menu {
  position: relative;
  background: var(--white);
}

.menu-bar li:first-child .dropdown {
  flex-direction: initial;
  min-width: 480px;
}

.menu-bar li:first-child ul:nth-child(1) {
  border-right: var(--border);
}

.menu-bar li:nth-child(n + 2) ul:nth-child(1) {
  border-bottom: var(--border);
}

.menu-bar .dropdown-link-title {
  font-weight: 600;
}

.menu-bar .nav-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.6px;
  padding: 0.3rem;
  min-width: 60px;
  margin: 0 0.6rem;
  color: var(--black);
  background-color: transparent;
  transition: 0.5s;
}

.menu-bar .nav-link:hover,
.dropdown-link:hover {
  color: var(--primary-color);
}

.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
  display: flex;
  align-items: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  background-color: var(--white);
  border-radius: 10px;
  position: absolute;
  top: 36px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.1s ease-in-out;
  box-shadow: var(--shadow);
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
  font-size: 0.95rem;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.15rem;
}

.dropdown-link {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}

.dropdown-link p {
  font-size: 0.8rem;
  color: var(--medium-grey);
}

.right-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.right-container .search {
  position: relative;
}

.right-container img {
  border-radius: 50%;
}

.search {
  border: 1px solid var(--black);
  border-radius: 6px;
}

.search input {
  background-color: var(--ash);
  border: none;
  border-radius: 6px;
  padding: 0.7rem;
  padding-left: 2.4rem;
  font-size: 16px;
  width: 100%;
  border: var(--black);
}

.search .bx-search {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 1.3rem;
  transform: translateY(-50%);
  opacity: 0.6;
}

#hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
}

/* NOTÍCIAS RECENTES */
.recent-news {
  height: 100vh;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1100px;
}

.recent-news-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recent-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.image-background {
  width: 99vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  padding-top: 1rem;
}

.image-background img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  border: 1px solid var(--primary-color);
  bottom: 3.5rem;
  left: 30%;
  transform: translateX(-50%);
  width: 70%;
  max-width: 600px;
  height: auto;
  border-radius: 25px;
  padding: 25px 30px;
  color: var(--white);
  margin: auto;
  font-family: "Poppins", sans-serif;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.card-money{
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  border: 1px solid var(--primary-color);
  bottom: 13rem;
  left: 70%;
  transform: translateX(-50%);
  width: 70%;
  max-width: 200px;
  height: auto;
  border-radius: 25px;
  padding: 25px 30px;
  color: var(--white);
  margin: auto;
  font-family: "Poppins", sans-serif;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}


form {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

form i,
form button {
  font-size: 22px;
}

.weather-input div {
  flex: 1;
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
}

.weather-input input {
  flex: 1;
  display: flex;
  align-items: center;
  column-gap: 8px;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.weather-input input::placeholder {
  color: var(--ash);
}

form button {
  width: 45px;
  height: 45px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .5s;
}

form button:hover{
  background: var(--primary-color);
  color: var(--white);
}

.weather-main{
  margin-top: 0;
  text-align: center;
}

.weather-main img{
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon-weather{
    display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: auto;
}

#temperature{
  font-size: 70px;
  margin-top: 8px;
}

#local{
  font-size: 36px;
  line-height: .8px;
  font-weight: 600;
}

.weather-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 32px;
  text-align: center;
}

.block{
  display: flex;
  align-items: flex-end;
  column-gap: 8px;
}

.block i{
  font-size: 54px;
}

.block div{
  display: flex;
  flex-direction: column;
}

.block div strong{
  font-size: 28px;
  line-height: 24px;
}


.map-container {
  position: relative; /* necessário para posicionar o popup sobre o mapa */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 13rem;
}

/* Ajuste de tamanho e centralização do SVG */
.map-container svg {
  width: 80%;
  max-width: 1200px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 3rem;
}

/* Estilo dos estados */
.map-container svg path {
  fill: var(--medium-light-grey);
  transition: fill 0.3s ease;
  cursor: pointer;
}

.map-container svg path:hover {
  fill: var(--medium-grey);
}

.map-container svg path.active-state {
  fill: var(--primary-color);
}

/* Estilo do popup sobre o mapa */
.popup {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 1rem;
  border: 1px solid #ccc;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
  text-align: center;
  display: none;
}

.animal-cards-large {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.animal-cards-small-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 3rem;
}

.animal-cards {
  background-color: var(--medium-grey);
  width: 700px;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
}

.animal-cards-small {
  background-color: var(--medium-grey);
  width: 700px;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
}


.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: .9rem;
}

.card-overlay:hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: .9rem;
}

.animal-cards:hover, .animal-cards-small:hover .card-overlay {
  opacity: 1;
}

.animal-cards:nth-child(1) {
  background-image: url('https://imagemcampo.jbrj.gov.br/producao/imagens_de_campo/296137720.jpg');
}

.animal-cards:nth-child(2) {
  background-image: url('https://www.floresefolhagens.com.br/wp-content/uploads/2016/01/vitoria-regia-victoria-amazonica-1-2-e1561605514710.jpg');
}
.animal-cards-small:nth-child(1) {
  background-image: url('https://tse4.mm.bing.net/th/id/OIP.ywOXVCN3OEi2-OCAjTCSZQHaFC?r=0&rs=1&pid=ImgDetMain&o=7&rm=3');
}
.animal-cards-small:nth-child(2) {
  background-image: url('https://folhago.com.br/wp-content/uploads/2020/12/foto-do-post-108.png');
}
.animal-cards-small:nth-child(3) {
  background-image: url('https://noamazonaseassim.com/wp-content/uploads/2020/01/poraque-amazonico.jpg');
}


.dashboard {
  max-width: 1200px;
  margin: auto;
  font-family: "Segoe UI", sans-serif;
  color: #333;
}
.dashboard-cards {
  display: flex;
  gap: 1rem;
}
.dashboard-card {
  background: #e9f5ec;
  padding: 1rem;
  border-radius: 8px;
  flex: 1;
  text-align: center;
}

/* RODAPÉ */
.footer-container {
  padding-top: 100rem;
}

.footer {
  height: 50vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-logo img {
  height: 100px;
  padding-top: 1rem;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding-top: 1rem;
}

.footer-link {
  color: var(--white);
  transition: 0.5s;
}

.footer-link:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footer-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 10px;
  border-radius: 40px;
  transition: 0.5s;
  cursor: pointer;
}

.footer-button:hover {
  transform: scale(1.1);
}

.footer-button img {
  height: 30px;
}

.footer-line-container {
  border: 1px solid var(--white);
}

.footer-line {
  padding-inline: 30vw;
}

.footer-copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--white);
  font-size: 12px;
}

@media (max-width: 1100px) {
  .home {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 80vh;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .image-container img {
    display: block;
    height: 400px;
    padding-top: 2rem;
    padding-left: 0;
  }

  .home-btn {
    display: block;
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 2rem;
  }

  .home-btn:hover {
    background-color: var(--secondary-color);
    color: var(--black);
  }
}

@media (max-width: 1350px) {
  #hamburger {
    display: block;
  }

  .container {
    padding: 1.2rem;
  }

  .menu {
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    min-height: 100vh;
    width: 100vw;
  }

  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 5px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
  }

  .menu.show,
  .dropdown.active {
    display: block;
  }

  .dropdown ul {
    padding-left: 0.3rem;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    padding: 1rem;
  }

  .menu-bar .nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }

  .menu-bar li:first-child .dropdown {
    min-width: 100%;
  }

  .menu-bar > li:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: var(--border);
  }
}

@media (max-width: 580px) {
  .image-container img {
    display: block;
    height: 300px;
    padding-top: 2rem;
    padding-left: 0;
  }
}

@media (max-width: 645px) {
  .right-container {
    display: none;
  }
}
